@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
  font-size: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
