:root {
  /* Fonts */
  --font-title-promo: 700 48px/56px inter, sans-serif;
  --font-body-caption: 500 12px/16px inter, sans-serif;
  --font-ui-btn: 600 18px/22px inter, sans-serif;
  --title: 500 15px/20px inter, sans-serif;
  --font-title-h1: 700 32px/42px inter, sans-serif;
  --font-title-h2: 700 24px/34px inter, sans-serif;
  --font-title-h3: 600 20px/30px inter, sans-serif;
  --font-body-xxlarge-bold: 700 20px/32px inter, sans-serif;
  --font-body-xxlarge-medium: 500 20px/32px inter, sans-serif;
  --font-body-xxlarge-regular: 400 20px/32px inter, sans-serif;
  --font-body-large-bold: 700 16px/22px inter, sans-serif;
  --font-body-large-medium: 500 16px/22px inter, sans-serif;
  --font-body-large-regular: 400 16px/22px inter, sans-serif;
  --font-body-medium-bold: 700 14px/20px inter, sans-serif;
  --font-body-medium-medium: 500 14px/20px inter, sans-serif;
  --font-body-medium-regular: 400 14px/20px inter, sans-serif;
  --font-body-small-bold: 700 13px/17px inter, sans-serif;
  --font-body-small-medium: 500 13px/17px inter, sans-serif;
  --font-body-small-regular: 400 13px/17px inter, sans-serif;
  --font-body-xsmall-bold: 700 12px/16px inter, sans-serif;
  --font-body-xsmall-medium: 500 12px/16px inter, sans-serif;
  --font-body-xxsmall-bold: 700 10px/16px inter, sans-serif;
  --font-body-xxsmall-medium: 500 10px/14px inter, sans-serif;

  /* Text colors */
  --color-text-primary-default: #202128;
  --color-text-secondary-default: #454854;
  --color-text-tetriary-default: #6c727f;
  --color-text-muted: #979faa;
  --color-text-link-primary-default: #1866dc;
  --color-text-link-secondary-default: #202128;
  --color-text-success-default: #219748;
  --color-text-danger-default: #ed4321;
  --color-text-warning-default: #fa9406;
  --color-text-white-default: #fff;
  --color-text-key-default: #1866dc;

  /* Icons colors */
  --color-icon-primary-default: #808793;
  --color-icon-primary-hover: #454854;
  --color-icon-key-default: #1866dc;
  --color-icon-muted: #bdc3cb;
  --color-icon-success-default: #219748;
  --color-icon-danger-default: #ed4321;
  --color-icon-warning-default: #ed4321;
  --color-icon-white-default: #fff;
  --color-icon-white-light: rgb(255 255 255 / 60%);
  --color-icon-key-light: rgb(24 102 220 / 60%);

  /* Small elements colors */
  --color-element-primary-default: #2b78ee;
  --color-element-primary-light: rgb(43 120 238 / 10%);
  --color-element-success-default: #3abb65;
  --color-element-success-light: rgb(58 187 101 / 10%);
  --color-element-danger-default: #f95639;
  --color-element-danger-light: rgb(240 66 66 / 10%);
  --color-element-warning-default: #fa9405;
  --color-element-warning-light: rgb(250 148 5 / 10%);
  --color-element-white-default: #fff;
  --color-element-neutral-light: rgb(32 33 40 / 5%);
  --color-element-neutral-default: #d7dbe0;

  /* Separator colors */
  --color-border-key-default: #2b78ee;
  --color-border-success-default: #3abb65;
  --color-border-danger-default: #f95639;
  --color-border-black-heavy: rgb(32 33 40 / 80%);
  --color-border-black-strong: rgb(32 33 40 / 40%);
  --color-border-black-normal: rgb(32 33 40 / 20%);
  --color-border-black-light: rgb(32 33 40 / 10%);
  --color-border-white-heavy: rgb(255 255 255 / 80%);
  --color-border-white-strong: rgb(255 255 255 / 40%);
  --color-border-white-normal: rgb(255 255 255 / 20%);
  --color-border-white-light: rgb(255 255 255 / 10%);

  /* Colors for buttons and cta */
  --color-btn-primary-default: #2b78ee;
  --color-btn-primary-hover: #388cfa;
  --color-btn-primary-pressed: #1866dc;
  --color-btn-secondary-default: #e9eaed;
  --color-btn-secondary-hover: #f7f7f8;
  --color-btn-secondary-pressed: #d7dbe0;
  --color-btn-primary-disabled: #979faa;
  --color-btn-secondary-disabled: #e9eaed;
  --color-btn-success-default: #3abb65;
  --color-btn-success-hover: #4ccd77;
  --color-btn-success-pressed: #219748;
  --color-btn-success-light: #e9fcee;
  --color-btn-warning-default: #fa9405;
  --color-btn-warning-hover: #ffa51f;
  --color-btn-warning-light: #ffecdb;
  --color-btn-danger-default: #f95639;
  --color-btn-danger-hover: #fe6b4d;
  --color-btn-danger-pressed: #ed4321;
  --color-btn-danger-light: #ffebe5;

  /* Background color */
  --color-bg-white: #fff;
  --color-bg-primary: #f7f7f8;
  --color-bg-secondaryy: #e9eaed;
  --color-bg-tetriary: #d7dbe0;
  --color-bg-key-light: #e5f0ff;
  --color-bg-danger-light: #ffebe5;
  --color-bg-success-light: #e9fcee;
  --color-bg-black: #202128;

  /* Chart colors */
  --color-chart-red: #fe6b4d;
  --color-chart-orange: #ffa51f;
  --color-chart-yellow: #ffd60a;
  --color-chart-green: #4ccd77;
  --color-chart-blue: #388cfa;
  --color-chart-purple: #8868df;

  /* Overlay fill */
  --color-overlay-fill: rgb(32 33 40 / 40%);
}
