.Calendar {
  position: relative;

  :global(.fc-view-harness) {
    background-color: #fff;
  }
}

.editMode {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}
