.app.light {
  --bg-color: #f7f7f8;
  --inverted-bg-color: var(--color-bg-white);
  --primary-color: #202128;
  --secondary-color: #0449e0;
  --inveretd-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
