.Navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  background: var(--inverted-bg-color);
}

.links {
  margin-left: auto;
}

.mainLink {
  margin-right: 15px;
}
