.ProfileCard {
  padding: 20px;
}

.header {
  display: flex;

  //   justify-content: space-between;
}

.editBtn {
  margin-left: auto;
}

.data {
  display: grid;
  gap: 40px;
  align-items: center;
  margin-top: 30px;
}

.input {
  margin-top: 10px;
}
